
.btn .fa {
  margin-left: 3px;
}

    .border-btn{
      border-radius: 30px;
    }

    .icon-btn {
      position: absolute;
      top: 0%;
      left: 0%;
  }


  .dark {
    background: linear-gradient(to right,#494949d9 0, #242424eb, #202020 100%);
  }
