<!-- Main navigation -->
<header class="intro-header">

  <!--Navbar-->
  <mdb-navbar  SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <mdb-navbar-brand>
          <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>DOGE</strong></a>
      </mdb-navbar-brand>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbWavesEffect>
                  <a class="nav-link" (click)="scroll('about')" href="#">About <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" (click)="scroll('portafolio')" href="#">Portfolio</a>
              </li>
          </ul>
          <form class="form-inline waves-light" mdbWavesEffect>
              <mdb-navbar-brand>

              </mdb-navbar-brand>
          </form>
      </links>
  </mdb-navbar>

</header>

<router-outlet></router-outlet>



<footer class="page-footer text-center text-md-left font-small stylish-color-dark pt-4 mt-4 dark waves-light" mdbWavesEffect>


  <hr>

  <!--Call to action-->
  <div class="text-center py-3 " >
      <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item">

              <h6 class="mb-1 text-center">

                  doge - web developer
                 <br>
                  +569 57457198


                  <br></h6>
          </li>
      </ul>
  </div>
  <!--/.Call to action-->

  <hr>

  <!--Social buttons-->
  <div class="text-center">
      <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
              <a target="_blank" href="https://www.linkedin.com/in/demaro1/" class="btn-floating btn-sm btn-fb mx-1 waves-effect waves-light border-btn">
                  <i class="fab fa-linkedin icon-btn"> </i>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://github.com/Demaro" class="btn-floating btn-sm btn-tw mx-1 waves-effect waves-light border-btn">
                  <i class="fab fa-github icon-btn"> </i>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://plus.google.com/u/0/112695464327785590720" class="btn-floating btn-sm btn-gplus mx-1 waves-effect waves-light border-btn">
                  <i class="fab fa-google-plus icon-btn"> </i>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://www.instagram.com/demaro_create/" class="btn-floating btn-sm btn-dribbble mx-1 waves-effect waves-light border-btn">
                  <i class="fab fa-instagram icon-btn"> </i>
              </a>
          </li>
      </ul>
  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
          © 2017 Copyright:
          <a href="#Up"> ekermet </a>

      </div>
  </div>
  <!--/.Copyright-->

</footer>

<!-- Main navigation -->

