<!-- Intro Section -->


<!-- Intro Section -->

<section  mdbWavesEffect >

        <div class="view  jarallax" data-jarallax='{"speed": 0.2}'  style="background-image: url(/assets/code5.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
          <div class="full-bg-img mask rgba-black-dark waves-light" mdbWavesEffect>
            <!-- Content -->
            <div class="container flex-center">
                <div class="row pt-5 mt-3 w-100">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Doge</strong></h2>
                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Doge Developer</strong></h5>
                            <a mdbBtn (click)="scroll('about')" color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>About me</a>
                            <a  (click)="scroll('portafolio')" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>portfolio</a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Mask & flexbox options-->
        </div>

</section>


<div id="about"></div>
<main>
    <div  class="container">
        <section class="text-center pb-3 my-5">

  <!--Grid column-->

  <div   class="col-lg-12 col-md- mb-lg-0 mb-4 px-5 mb-5 pb-3 wow fadeIn">
    <!--Card-->
    <mdb-card  class="testimonial-card">
      <!--Background color-->
      <div mdbWavesEffect class="card-up doge-gradient waves-light"></div>
      <!--Avatar-->
      <div class="avatar mx-auto white">


  <div class="background"></div>


  <div id="curve" mdbWavesEffect class=" card1 circle text-center rounded-circle waves-light">

      <img src="assets/Doge.jpg" class="doge">


      <div class="footer">
          <div class="connections">
              <a href="https://github.com/Demaro" target="_blank" type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb connection github btn-fb1">
                  <i class="fa fa-github"></i>
              </a>

              <a href="https://www.linkedin.com/in/demaro1/" target="_blank" type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb connection linkedin btn-fb3">
                  <i class="fa fa-linkedin"></i>
              </a>
              <a href="" target="_blank" type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb connection instagram btn-fb2">
                  <i class="fa fa-instagram"></i>
              </a>


              <div class="connection instagram"><div class="icon"></div></div>
              <div class="connection twitter"><div class="icon"></div></div>
              <div class="connection behance"><div class="icon"></div></div>
          </div>
          <svg id="curve">
              <path id="p" d="M0,200 Q80,100 400,200 V150 H0 V50" transform="translate(0 300)" />
              <rect id="dummyRect" x="0" y="0" height="450" width="400"
        fill="transparent" />
              <!-- slide up-->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,100 400,50 V150 H0 V50" fill="freeze" begin="dummyRect.mouseover" end="dummyRect.mouseout" dur="0.1s" id="bounce1" />
              <!-- slide up and curve in -->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,0 400,50 V150 H0 V50" fill="freeze" begin="bounce1.end" end="dummyRect.mouseout" dur="0.15s" id="bounce2" />
              <!-- slide down and curve in -->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,80 400,50 V150 H0 V50" fill="freeze" begin="bounce2.end" end="dummyRect.mouseout" dur="0.15s" id="bounce3" />
              <!-- slide down and curve out -->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,45 400,50 V150 H0 V50" fill="freeze" begin="bounce3.end" end="dummyRect.mouseout" dur="0.1s" id="bounce4" />
              <!-- curve in -->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,50 400,50 V150 H0 V50" fill="freeze" begin="bounce4.end" end="dummyRect.mouseout" dur="0.05s" id="bounce5" />

              <animate xlink:href="#p" attributeName="d" to="M0,200 Q80,100 400,200 V150 H0 V50" fill="freeze" begin="dummyRect.mouseout" dur="0.15s" id="bounceOut" />
          </svg>

      </div>
      <div class="card-blur"></div>
  </div>


      </div>
      <mdb-card-body>

              <h5 class="font-weight-bold dark-grey-text my-1">Doge</h5>
              <h8 class="text-uppercase grey-text mb-1">
                  <strong>Web Developer</strong>
              </h8>

        <!--Quotation-->
        <p class="dark-grey-text mt-4">
          <i class="fa fa-quote-left pr-2"></i>
          Doge is a best web developer in this univers, Engineer programmer  with advanced technologies of dogs,
          is winner and a very good dog</p>
      </mdb-card-body>
    </mdb-card>
    <!--Card-->
  </div>
  <!--Grid column-->
  <hr >

<!--Section: Features v.2-->
<section class="text-center">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold wow fadeIn">Skills</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text wow fadeIn">
    The following technologies are listed as learned skills and are implemented in several frontend and backend development projects.
  </p>

  <!--Grid row-->
  <div class="row text-left">

      <!--Grid column-->
      <div class="col-md-6 mb-4 wow fadeIn">
          <div class="col-1 col-md-2 float-left">
              <i class="fab fa-html5 html5 fa-4x"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Html 5</h4>
              <p class="grey-text">
                  HTML 5 (formerly spelled HTML5) is a markup language used for structuring and presenting
                  content on the World Wide Web. It is the fifth and current major version of the HTML standard,
                   and subsumes XHTML.
              </p>
              <a mdbBtn color="warning" size="sm" href="https://es.wikipedia.org/wiki/HTML5" target="_blank" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 wow fadeIn">
          <div class="col-1 col-md-2 float-left">
              <i class="fab fa-css3-alt css fa-4x"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">CSS 3</h4>
              <p class="grey-text">CSS (acronym in English for C ascading S tyle S heets),
                "Cascading Style Sheets", is a graphic design language to define and create the presentation
                of a structured document written in a markup language . </p>
              <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada" target="_blank" mdbWavesEffect>Learn more</a>
          </div>
      </div>
      <!--Grid column-->


      <div class="col-md-6 mb-4 wow fadeIn">
          <div class="col-1 col-md-2 float-left">
              <i class="fab fa-angular red-text fa-4x"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="font-weight-bold">Angular</h4>
              <p class="grey-text">
                  Angular (commonly called "Angular 2+" or "Angular 2"),
                  is a framework for web applications developed in TypeScript ,
                  open source , maintained by Google ,
                  which is used to create and maintain web applications on a single page .
              </p>
              <a mdbBtn color="danger" href="https://angular.io/" target="_blank" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
          </div>
      </div>
      <!--Grid column-->


  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.2-->
<hr >
<!--Projects section v.4-->
<section class="text-center pb-3">
<div id="portafolio"></div>
<!--Section heading-->
<h2 class="font-weight-bold h1 py-5 wow fadeIn">
    <strong>Personal projects</strong>
</h2>
<!--Section description-->
<p class="grey-text pb-5 text-center wow fadeIn">
  The following personal projects were created with the purpose of demonstrating the portfolio
  as web developer, not including those developed in companies and jobs.
</p>


<!-- APPS URL DEMOS -->


<!--Grid row-->

<div class="row">
    <!--Grid column

    <div class="col-md-6 mb-4 wow fadeIn ">
        <div class="card card-image waves-light" mdbWavesEffect style="background-image: url(assets/ekermet.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                <div>
                    <h6 class="green-text">
                        <i class="fa fa-chart-line"></i>
                        <strong> Economy and Finance </strong>
                    </h6>
                    <h3 class="py-3 font-weight-bold">
                        <strong>ekermet</strong>
                    </h3>
                    <p class="pb-3">
                        Title project, a system that applies an effective method to manage one's own finances or companies,
                        through the system of 6 envelopes <a href="https://www.harveker.com/" target="_blank">Harv Eker. </a>T.
                        full stack development with Angular 6,
                        http services with Django REST framework, mdbootstrap, sass, html5, git, firebase.
                    </p>
                    <a mdbBtn color="success" size="md" href="https://ekermet.herokuapp.com/#/" target="_blank" rounded="true" class="waves-light" mdbWavesEffect>
                        <i class="fa fa-eye left"></i> View project
                    </a>
                </div>
            </div>
        </div>
    </div>
    Grid column-->




    <!--Grid column
    <div class="col-md-6 mb-4 wow fadeIn">
        <div class="card card-image waves-light" mdbWavesEffect  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                <div>
                    <h6 class="blue-text">
                        <i class="far fa-laugh-beam"></i>
                        <strong>  Blog - Demo</strong>
                    </h6>
                    <h3 class="py-3 font-weight-bold">
                        <strong>djng cool</strong>
                    </h3>
                    <p class="pb-3">website, demo in which is development with Angular
                      with http services through backend in Django REST, design responsive,
                      bootstrap4, css3, animated.
                    </p>
                    <a mdbBtn color="blue" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <i class="fa fa-eye left" href="https://djng-cool.herokuapp.com/" target="_blank"></i> View project</a>
                </div>
            </div>
        </div>
    </div>
   Grid column-->

         <!--Grid column
         <div class="col-md-12 mb-4 wow fadeIn" >
            <div class="card card-image waves-light" mdbWavesEffect  style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="orange-text">
                            <i class="far fa-smile"></i>
                            <strong> Blog - Demo</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>sempiterno</strong>
                        </h3>
                        <p class="pb-3">
                          in the beginning, only with django we did things, this blog with a lot of love,
                          allowed me to learn about web development, a site developed in python with django,
                          bootstrap, css, jQuery.
                        </p>
                        <a mdbBtn color="deep-orange" href="https://blog-sempieterno.herokuapp.com/" target="_blank" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                            <i class="fa fa-eye left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        Grid column-->


<!--Grid row-->
</div>
<!--APPS URL DEMOS-->

<div class="row">

<div  class="container">
<!-- CAROUSEL-->

<mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
<mdb-carousel-item>
  <img class="d-block w-100" src="assets/project/insta1.jpg" alt="First slide">
</mdb-carousel-item>
<mdb-carousel-item>
  <img class="d-block w-100" src="assets/project/insta2.png" alt="Second slide">
</mdb-carousel-item>
<mdb-carousel-item>
  <img class="d-block w-100" src="assets/project/insta3.jpg" alt="Third slide">
</mdb-carousel-item>
  <mdb-carousel-item>
  <img class="d-block w-100" src="assets/project/insta8.png" alt="Third slide">
</mdb-carousel-item>
<mdb-carousel-item>
  <img class="d-block w-100" src="assets/project/insta6.jpg" alt="Third slide">
</mdb-carousel-item>
<mdb-carousel-item>
  <img class="d-block w-100" src="assets/project/insta7.jpg" alt="Third slide">
</mdb-carousel-item>
</mdb-carousel>
<!-- CAROUSEL-->

</div>
</div>



</section>
<!--Projects section v.4-->

</section>
<!--Section: Features v.3-->

</div>

</main>
